<%- model_class = Document -%>
<div class="page-header">
  <h1 class="text-white">Documentos    <%if current_user && current_user.kind == "manager" %>- <%= link_to 'Enviar Documento',
              new_document_path,
              :class => 'btn btn-primary' %></h1><%end%>
  </div>
  <%if current_user && current_user.kind == "manager" %>
    <%= render :partial => 'manager' %>
  <% elsif current_user%>
  <%= render :partial => 'client' %>
  <%end%>
<br><br>
